*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.ctd{
    display: block;
}

.countdown-container{
    font-size: 60px;
    font-weight: bold;
    color:#fff;
    text-align: center;
    box-shadow:0 0 10px #003388;
    background: linear-gradient(145deg, #1a1a1a,red);
    padding: 30px 60px;
    border: 2px solid red;
    border-radius: 20px;
}

.btn{
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

#start{
    width: 80px;
    height: 50px;
    background-color: aqua;
    color: red;
    border-radius: 10px;
    font-weight: bold;
    font-family: arial;
}

#stop{
    width: 80px;
    height: 50px;
    background-color: aqua;
    color: red;
    border-radius: 10px;
    font-weight: bold;
    font-family: arial;
}

#reset{
    width: 80px;
    height: 50px;
    background-color: aqua;
    color: red;
    border-radius: 10px;
    font-weight: bold;
    font-family: arial;
}

.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    background: linear-gradient(145deg, #1a1a1a,#222222);
    border-radius: 50px;
    box-shadow:5px 5px 15px #000000;
    border: 2px solid aqua;
    padding: 10px;
}

.clock{
    font-size: 50px;
    font-weight: bold;
    color: aqua;
    text-shadow: 5px 5px 15px #0000;
}